#print_results {
	text-align: center;
	font-size: 20pt;
	background: rgba(255,255,255,0.5);
}

.rightborder {
	border-right: solid black 1px;
	
	text-align: center;
}

#sound_container {
	background-color: rgba(76,76,76,0.7);
	color: white;
}

.sound audio {
	display: inline-block;
	width: 45%;
}

.title {
	display: inline-block;
	font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

.artist {
	display: inline-block;
	font-size: 14pt;
}

.style {
	display: inline-block;
	font-style: italic;
	margin-left: 15px;
}

.endline {
	border-bottom: solid rgb(255,134,23) 3px;
	margin-top: 10px
}

.playlist_div {
	display: inline-block;
	width: 10%;
	height: 30px;
	vertical-align: top;
}

.playlist_div select {
	height: 30px;
	width: 100%;
	border-radius: 0px;
}

#addPlaylist {
	height: 30px;
	display: inline-block;
	vertical-align: top;
}