/*##################################################################################
#########################            MAIN         ##################################
##################################################################################*/

#main {
	width:	100%;
	min-width: 985px;
  	min-height: 513px;
  	background-size: 1600px 513px;
}

/*##################################################################################
#########################            SIGN UP MAIN         ##########################
##################################################################################*/

#signin {
	width: 100%;
	height:	513px;
}

#signinform {
	position: relative;
	width: 500px;
	height: 70%;
  	left: 30%;
  	top: 12%;
	background-color: rgba(39, 39, 39, 0.8);
	padding: 15px;
	border-radius: 25px;
	border: solid 4px;
	border-color: rgba(223, 116, 1, 0.6);
}

#signin_submit {
	display: block;
	text-align: center;
	width: 250px;
	margin-left: 25%;
	margin-bottom: 50px;
	margin-top: 75px;
	border-radius: 10px;height:	50px;
	margin-right: 5px;
	font-size: 12pt;
  	font-weight: bold;
  	background: #272727;
  	color: white;
}

#signin form label {
	font-size: 15pt;
	color: white;
}

.inputform {
	display: block;
	text-align: center;
	width: 250px;
	height: 35px;
	margin-left: 25%;
	margin-bottom: 50px;
	margin-top: 5px;
	border-radius: 10px;
	border: solid #c96400 2px;
}