/*##################################################################################
#########################            HEADER          ###############################
##################################################################################*/

html, body {
	background-color: #272727;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: url(../assets/palmier.jpg) no-repeat center fixed; 
  	background-size: cover;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
	background-color: #272727;

	width: 100%;
	min-height: 170px;
	min-width: 1150px;
}

#alignheader {
  width: 52%;
  display: inline-block;
  text-align: right;
  height: 100%;
}

#header form {
	display: inline-block;
	position: relative;
  	margin-bottom: 40px;
  	margin-top: 10px;
  	text-align: right;
}

#headerbuttons {
	width: 100%;
	min-width: 415px;
}

#buttons {
	width: 100%;
}

.connect {
	margin-bottom: 10px;
	color: white;
}

.connect input{
	float: right;
	margin-left: 10px;
}

.logon input {
	padding: 5px;
	position: relative;
  	margin-top: 5px;
  	border-radius: 10px;
  	background:rgba(155,155,155,0.7);
}

.logon input:hover {
	background:rgba(155,155,155,1);
}

.logout input {
	padding: 5px;
	position: relative;
	margin-top: 30px;
  	border-radius: 10px;
  	background:rgba(145,145,145,0.7);
}

.logout input:hover {
	background:rgba(155,155,155,1);
}

#header aside {
	position: relative;
	color: white;
	padding: 5px;
}

#logo {
	height: 20%;
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

#titre {
	height: 150px;
	display: inline-block;
	vertical-align: middle;
	padding-top: 20px;
	margin-left: 40px;
}

#wrapperlogo {
	display: inline-block;
	width: 47%;
}

/*##################################################################################
#########################            HEADER BUTTONS         ########################
##################################################################################*/

.myButton {
	text-decoration: none;
	color: black;
	font-size: 15pt;
	border-radius: 20px;
	padding: 1px 10px 3px 10px;
	float: right;
	margin-bottom: 2px;
	margin-left: 2px;
	background: linear-gradient(180deg, rgba(255,134,13,0.7) 0%, rgba(255,205,23,0.7) 100%);
}

.myButton:hover {
	background: linear-gradient(180deg, rgba(255,134,13,1) 0%, rgba(255,205,23,1) 100%);
}

#wrapperbutton {
	bottom: 35px;
	position: relative;
	height: auto;
	width: auto;
	float: right;
}
/*##################################################################################
#########################            MAIN         ##################################
##################################################################################*/

#main {
	width:	100%;
	min-width: 985px;
	height: 100%;
	padding-bottom: 50px;
  	background-size: 1600px 513px;
}

/*##################################################################################
#########################            SEARCH BAR MAIN         #######################
##################################################################################*/


#container {
	width: 100%;
	height:	100%;
	/*overflow-y: auto;*/
}

#searchbar {
	position: relative;
	text-align: center;
	width: 480px;
	left: 30%;
	margin-top: 17%;
	background-color: rgba(39, 39, 39, 0.7);
	padding: 15px;
	border-radius: 25px;
	border: solid 4px;
	border-color: rgba(255,134,13,0.7);
}

#searchbar input {
	height: 21px;
	width: 200px;
	margin-right: 5px;
	border-radius: 6px;
	font-size: 11pt;
  	font-weight: bold;
  	border: solid black 1px;
  	padding-left: 10px;
}

#searchbar button {
	border-radius: 6px;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	font-family: serif;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 20px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
	float: right;
	margin-right: 3px;
	background: linear-gradient(180deg, rgba(255,134,13,0.7) 0%, rgba(255,205,23,0.7) 100%);
}
 
#searchbar button:hover {
	background: linear-gradient(180deg, rgba(255,134,13,1) 0%, rgba(255,205,23,1) 100%);
}

form select {
	border-radius: 10px;
	height: 25px;
	width: 75px;
}


/*##################################################################################
#########################            FOOTER         ################################
##################################################################################*/

#footer {
	width: 100%;
	background: #272727;
	bottom: 0;
	position: absolute;
	min-width: 1150px;
	height: 50px;
	color: white;
	font-weight: bold;
}

.swag {
	display: inline-block;
	text-align: center;
	padding-right: 10%;
	font-style: italic;
	font-weight: bold;
	color: rgb(255,205,23);
	padding-top: 18px;
}

.swag:first-child {
	padding-left: 15%;
}

.swag:last-child {
	padding-right: 0;
}